<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"         
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true">
  <testsuites>
    <testsuite name="Larvel Yandex Translation">
        <directory>./tests/</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory suffix=".php">src/</directory>
      <exclude>
        <directory suffix=".php">tests/</directory>
        <directory suffix=".php">vendor/</directory>
      </exclude>
    </whitelist>
  </filter>
  <logging>
    <log type="coverage-clover" target="build/logs/clover.xml"/>
  </logging>
</phpunit>